<!DOCTYPE html>
<html lang="en" ng-app="mooSearch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Moosearch - Mooc search engine</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="app.js"></script>
    <script src="coursesService.js"></script>
    <script src="homeController.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <body ng-controller="homeController">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>


                <ul class="nav navbar-nav navbar-right">

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-10 col-lg-2 col-md-offset-5">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" ng-model="checkBoxCoursera" ng-true-value="'coursera'"> Coursera
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox2" ng-model="checkBoxUdacity"  ng-true-value="'udacity'"> Udacity
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5 col-lg-2">
                            <a href="#" data-ng-click="openHowTo()">How to search?</a>
                        </div>
                        <div class="col-sm-5 col-lg-2 col-md-offset-2">
                            <label for="language">Language</label>
                            <select name="language" id="language" ng-model="language" class="form-control input-sm">
                                <option value='en'>English</option>
                                <option value='es'>Spanish</option>
                            </select>
                        </div>
                        <div class="col-sm-5 col-lg-2">
                            <label for="category">Category</label>
                            <select name="category" id="category" ng-model="category" class="form-control input-sm">
                                <option ng-repeat="option in avaliableCategories" value="{{option.tipo}}">{{option.tipo}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" ng-model="text" placeholder="Write a title, a keyword..." class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                          <button type="submit" class="btn btn-primary btn btn-block" ng-click="search()">Search</button>
                        </div>
                  </div>
                </form>

            </div>
        </div>

        <div class="row">
            <div class="col-md-3" ng-repeat="course in courses">
                <div class="thumbnail">
                    <img ng-src={{course.foto}} alt="...">
                    <div class="caption">
                        <h3>{{course.nombre}}</h3>
                        <p><a href="#" class="btn btn-primary" role="button" data-ng-click="open(course)">Read More</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{course.nombre}}</h3>
        </div>
        <div class="modal-body">
            <h4>From: {{course.pagina}}</h4>
            <h5>Category:</h5>
            <p>{{course.tipo}}</p>

            <h5>Description:</h5>
            <p>{{course.descripcion}}</p>
            <a ng-href="{{course.url}}" type="button" class="btn btn-info">
                Visit the course main page (External)
            </a>
            <hr>
            <h4>Related courses</h4>
            <div class="row">
              <div class="col-xs-6 col-md-3" ng-repeat="related in relatedCourses">
              <div class="thumbnail">
                <img ng-src="{{related.foto}}" alt="...">
                <div class="caption">
                  <h4>{{related.nombre}}</h4>
                  <button type="submit" class="btn btn-info" ng-click="change(related)">More info</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="myModalContentHowTo.html">
        <div class="modal-header">
            <h3 class="modal-title">How to Search?</h3>
        </div>
        <div class="modal-body">
            <p class="bg-info">You can search writing words like <samp>Android programming</samp> and the searcher will search courses
            with this words in the description<p>
            <p class="bg-info">But you can search for courses with exactly this two words writing <samp>"Android programming"</samp>
            </p>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</body>

</html>
